/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header, main, footer {
    width: 100%;
}

header {
    height: 40vh; /* Altura padrão */
    overflow: hidden;
}

.top-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste conforme necessário */
}

.block {
    position: relative;
    padding: 20px;
    text-align: center;
    color: white;
}

#video-section {
    position: relative;
    background: url(Design\ sem\ nome\ \(6\).png) no-repeat center center/cover; /* Imagem de fundo */
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Garante que o conteúdo não saia do bloco */
}

.background-video {
    width: 80%; /* Ajuste o tamanho conforme necessário */
    max-width: 600px; /* Limita o tamanho máximo do vídeo */
    height: auto;
    position: relative;
    z-index: 1; /* Certifica-se de que o vídeo está acima da imagem de fundo */
}

#vote-section {
    background: url(FOTO_SEGUNDA.png) no-repeat center center/cover;
    height: 30vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0069df;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0052a3;
}

footer {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to top, #003366, #0069df); /* Gradiente de azul escuro para a cor atual */
    color: white;
    padding: 20px 0;
}

.footer-block {
    width: 45%;
}

.blue-text {
    color: blue;
}



@media (max-width: 768px) {
    header {
        height: 30vh;
    }

    #video-section, #vote-section {
        height: 40vh;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-block {
        width: 80%;
        margin-bottom: 20px;
    }

    input[type="text"], button[type="submit"] {
        width: 90%;
    }
}
