/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header, main, footer {
    width: 100%;
}

header {
    height: 40vh; /* Altura padrão */
    overflow: hidden;
}

.top-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste conforme necessário */
}

.block {
    position: relative;
    padding: 20px;
    text-align: center;
    color: white;
}

.background-video {
    border: 5px solid #ffce3b; /* Borda amarela com espessura de 5px */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra esfumada */
}

#video-section {
    margin-top: 2%;
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Garante que o conteúdo não saia do bloco */
}

.background-video {
    width: 80%; /* Ajuste o tamanho conforme necessário */
    max-width: 600px; /* Limita o tamanho máximo do vídeo */
    height: auto;
    position: relative;
    z-index: 1; /* Certifica-se de que o vídeo está acima da imagem de fundo */
}

#vote-section {
    background: url(img_terceira.png) no-repeat center center/cover;
    height: 40vh;
}
#declarar_apoio{
    margin-top: 1%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #13ab25;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0052a3;
}

footer {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to top, #003366, #3e72a6); /* Gradiente de azul escuro para a cor atual */
    color: white;
    padding: 20px 0;
}

.footer-block{
    margin-bottom: -50px;
}

.footer-block h2 {
    margin-bottom: 5px; /* Ajusta o espaço abaixo do h2 */
}
.footer-block p {
    margin-top: 5px; /* Ajusta o espaço acima do p */
}
.footer-block a {
    text-decoration: none;
    color: inherit;
}

.footer-block2 h2 {
    margin-top: 15px; /* Ajusta o espaço abaixo do h2 */
}
.footer-block2 p {
    margin-top: -15px; /* Ajusta o espaço acima do p */
}
.footer-block2 a {
    text-decoration: none;
    color: inherit;
}

.footer-block3 h2 {
    font-family: "Oswald", sans-serif;
    margin-top: 10px; /* Ajusta o espaço abaixo do h2 */
}
.footer-block3 p {
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    margin-top: -12px; /* Ajusta o espaço acima do p */
}
#reflexao {
    color: #ffce3b;
    font-size: 100%;
}

.blue-text {
    visibility: hidden;
    color: rgb(255, 255, 255);
}




#_blank {
    color: #ffce3b;
}
/* iconeeeeee*/
#supporters-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#supporters-count {
    font-size: 130%;
    color: #13ab25;
    font-family: "Oswald", sans-serif;
    margin: 0; /* Remove a margem padrão */
}

#loading-icon {
    font-size: 1em; /* Tamanho do ícone igual ao tamanho da fonte */
    margin-left: 10px; /* Espaço à esquerda do ícone */
}




@media (max-width: 768px) {
    header {
        height: 30vh;
    }

    #video-section, #vote-section {
        height: 40vh;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-block, .footer-block2, .footer-block3 {
        width: 80%;
        margin-bottom: 20px;
    }

    .footer-block3 {
        text-align: center;
    }

    .base_footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="text"], button[type="submit"] {
        width: 90%;
    }

    #video-section {
        margin-top: 0%;
        background: url(img_segunda.png) no-repeat center center/cover; /* Imagem de fundo */
    }
}
